<!DOCTYPE html>
<html>
	<head>
		<title>Yoz</title>
		
	</head>
	<body>
	
		<div class="container">
		
			<div class="jumbotron">
				<h1>Yoz</h1>
				<p>You are now in room <em>{{ room }}</em>.</p>
				<p>Your are at host <em>{{ host}}</em>.</p>
			</div>
			
			<div id="real_time"></div>
				
		</div>
		
	</body>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="/scripts/websockets.js"></script>
	
</html>
